body {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    background: #000 url(../i/bg.jpg) no-repeat 50% 0;
    height: 1500px;
    color: #fed4b8;
    -webkit-text-shadow: 1px 1px 0 #000;
    -moz-text-shadow: 1px 1px 0 #000;
    text-shadow: 1px 1px 0 #000;

}
.body {
    margin: auto;
    position: relative;
    width: 926px;
}
.head {
    height: 250px;
    position: relative;
}
.logo {
    display: block;
    position: absolute;
    width: 300px;
    height: 100px;
    top: 115px;
    left: 104px;
}
.head .menu {
    position: absolute;
    top: 192px;
    right: 25px;
    width: 490px;
}
.head .menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.head .menu ul li {
    display: inline-block;
}
.head .menu ul li a {
    color: #aeb9c8;
    cursor: pointer;
    padding: 5px 7px;
    -webkit-transition: color .2s ease;
    -moz-transition: color .2s ease;
    -ms-transition: color .2s ease;
    transition: color .2s ease;
    font-size: 13px;
}
.head .menu ul li:hover a {
    color: #C78181;
}
a {
    color: #aeb9c8;
    cursor: pointer;
}
a:hover {
    color: #C78181;
}
.con .left {
    position: relative;
    width: 624px;
    height: 924px;
    margin: 14px 0 14px 14px;
    display: inline-block;
}
.help-box {
    background: url(../i/tlbg.jpg) no-repeat;
    width: 561px;
    height: 310px;
    margin: 25px;
    padding: 5px 0 0 7px
}
.help-box > .item {
    background: url(../i/tllbg.png) no-repeat;
    height: 44px;
    line-height: 44px;
    margin:0px 0px 7px 0px;
}
.help-box > .item > div {
    display: inline-block;

}
.help-box > .item ._l {
    width: 280px;
    padding: 0 0 0 10px;
    color: #aeb9c8;
    text-transform: uppercase;
    font-size: 13px;
    font-family: 'Times New Roman';
    background: url(../i/line-border.png) no-repeat 100% 2px;

}
.help-box > .item ._l a {
    color: #aeb9c8;
    text-decoration: none;
    border-bottom:1px #aeb9c8 dashed;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    transition: all .2s ease;
}
.help-box > .item ._l a:hover {
    color: #C78181;
    border-bottom:1px #C78181 dashed;
}
.help-box > .item ._r {
    text-align: right;
    width: 250px;
    padding: 0 10px 0 0;
    font-size: 12px;
}
.con-bg {
    background: rgba(22, 8, 8, 0.5);
    -webkit-box-shadow: inset 0 0 43px 10px rgba(0, 0, 0, .5);
    -moz-box-shadow: inset 0 0 43px  rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 43px 10px rgba(0, 0, 0, .5);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-top: 1px solid #5c4e4a;
    border-right: 1px solid #5a4d49;
    border-bottom: 1px solid #2e2a29;
    border-left: 1px solid #3d3432;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 559px;
    margin: 25px;
    padding: 8px 5px;
}
.text.full_width {
    padding: 0 5px;
}
.text.col3 {
    display: table;
    width: 100%;
}
.text.col3 > span {
    display: table-cell;
    padding: 0 5px;
}
.text.col3 > span:nth-child(2) {
    padding: 0 22px;
}
.text.col3 > span > h3 {
    white-space: nowrap;
    font-weight: normal;
    font-size: 14px;
    color: #aeb9c8;
}
.iHome {
    background: url(../i/ihome.jpg) no-repeat;
    width: 541px;
    height: 146px;
    margin: 0 auto 10px auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

}

.right {
    vertical-align: top;
    display: inline-block;
    width: 281px;
    position: relative;
    left: -3px;
    top: -11px;
}
.right .block ._h {
    background: url(../i/right-head.png) no-repeat;
    height: 61px;
    text-align: center;
    line-height: 61px;
    text-transform: uppercase;
    color: #c5c8cc;
    font-family: 'Times New Roman';
    font-size: 13px;
}
.b_1 ._h {
    background-position: 0 0;
}
.b_2 ._h {
    background-position: 0 -61px;
}
.b_3 ._h {
    background-position: 0 -122px;
}

.screen {
    text-align: center;
    padding: 12px 0;
}
.screen a {
    text-decoration: none;
    display: block;
    margin: 12px 0;
    position: relative;
}
.screen a img {
    border: none;
}
.screen a span {
    position: absolute;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    transition: all .2s ease;
    bottom: 16px;
    left: 110px;
    display: block;
    border-bottom: 1px #aeb9c8 dashed;
}
.screen a:hover span {
    border-bottom: 1px #C78181 dashed;
}
.fancybox-media img {
    opacity: .8;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    transition: all .2s ease;
}
.fancybox-media:hover img {
    opacity: 1;
}
#slides {
  background: url(../i/slider_bg.png) no-repeat 0 0;
    width: 224px;
    height: 150px;
    margin: 6px auto;
}
.slidesjs-pagination {
    padding: 13px 0 0 21px;
    list-style-type: none;
    display: block;
    position: relative;
    background: url(../i/selected_bg.png) no-repeat;
    width:  85px;
    height: 36px;
    margin: 0 auto;
    top: -24px;
    z-index: 99;
}
.slidesjs-pagination li {
    display: inline-block;
}
.slidesjs-pagination li a {
    display: block;
    width: 16px;
    height: 17px;
    font-size: 0px;
    margin: 0 9px 0 0;
}
.slidesjs-pagination li a.active {
    background: url(../i/selected.png) no-repeat 0 0;
}
.slidesjs-container {
    right: -8px;
    top: 11px;
}
.slidesjs-slide img {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}



.footer {
    color: #c0ada4;
    padding: 30px 50px;
    position: relative;
}
.footer .menu ul {
    margin: 0 0 20px 0;
    padding: 0;
    list-style-type: none;
}
.footer .menu ul li {
    display: inline-block;
}
.footer .menu ul li a {
    margin: 0 20px 0 0;
    color: #c0ada4;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    transition: all .2s ease;
    border-bottom: 1px #c0ada4 solid;
}
.footer .menu ul li a:hover {
    color: #C78181;
    border-bottom: 1px #C78181 solid;
}
.cc_p {
    background: url(../i/pegi.png) no-repeat;
    width: 114px;
    height: 50px;
    position: absolute;
    right: 50px;
    top: 30px;
}